table.table.table-striped
	thead
		tr
			th.col-md-8 Beer
			th.col-md-1 Shop
			if !hideSeen
				th.col-md-2 Last Seen
			else
				th.col-md-2 Seen
			th.col-md-1 RB
	tbody
		each product, i in products
			tr
				td.site-product-cell-name
					a(href="#{product.Uri}") #{product.Name}
				td.site-product-cell-shop.hidden-md.hidden-lg
					case product.ProviderKey
						when "BIAB"
							span.label(style="background-color: #27ae60") BIAB
						when "BeerMerchants"
							span.label(style="background-color: #d35400") BM
						when "EtreGourmet"
							span.label(style="background-color: #8e44ad") EG
						when "Mikkeller"
							span.label(style="background-color: #2e8ece") MK
						when "Boxbeers"
							span.label(style="background-color: #c0392b") BB
						when "Brewdog"
							span.label(style="background-color: #2c3e50") BD
						when "Eebria"
							span.label(style="background-color: #e74c3c") EB
						when "BOE"
							span.label(style="background-color: #2ecc71") BOE
						when "ABM"
							span.label(style="background-color: #e78127") ABM
						when "AS"
							span.label(style="background-color: #3498db") AS
						when "BeerHawk"
							span.label(style="background-color: #1abc9c") BH
						when "BeerGonzo"
							span.label(style="background-color: #9b59b6") BG
						when "BottleShop"
							span.label(style="background-color: #f39c12") BS
						default
							span.label
								|#{product.ProviderKey}
				td.site-product-cell-shop.hidden-xs.hidden-sm
					case product.ProviderKey
						when "BIAB"
							span.label(style="background-color: #27ae60") Belgium in a Box
						when "BeerMerchants"
							span.label(style="background-color: #d35400") Beer Merchants
						when "EtreGourmet"
							span.label(style="background-color: #8e44ad") Etre Gourmet
						when "Mikkeller"
							span.label(style="background-color: #2e8ece") Mikkeller
						when "Boxbeers"
							span.label(style="background-color: #c0392b") Boxbeers
						when "Brewdog"
							span.label(style="background-color: #2c3e50") Brewdog
						when "Eebria"
							span.label(style="background-color: #e74c3c") Eebria
						when "BOE"
							span.label(style="background-color: #2ecc71") Beers of Europe
						when "ABM"
							span.label(style="background-color: #e78127") Ales by Mail
						when "AS"
							span.label(style="background-color: #3498db") AleselA
						when "BeerHawk"
							span.label(style="background-color: #1abc9c") Beer Hawk
						when "BeerGonzo"
							span.label(style="background-color: #9b59b6") Beer Gonzo
						when "BottleShop"
							span.label(style="background-color: #f39c12") Bottle Shop
						default
							span.label
								|#{product.ProviderKey}
				td.site-product-cell-seen
					|#{moment(product.LastSeen).fromNow()}
				td.site-product-cell-rating
					if product.RateBeerInfo
						if product.RateBeerInfo.OverallPctl
							span.label(style="background-color: rgba(255, 219, 55, 0.5); color: rgba(0, 0, 0, 0.75); ")
								| #{product.RateBeerInfo.OverallPctl.toFixed(0)}